<mat-toolbar class="toolbar">
  <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<mat-menu #menu="matMenu">
  <button mat-menu-item [routerLink]="['/']">Início</button>
  <button mat-menu-item>Sair</button>
</mat-menu>
<mat-grid-list cols="2" rowHeight="2:1" class="items">
  <mat-grid-tile>
    <button mat-raised-button class="btn" [routerLink]="['/listaSemana']">Lista da semana</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-raised-button class="btn" [routerLink]="['/criarLista']">Criar lista</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-raised-button class="btn" [routerLink]="['/usuarios']">Usuários</button>
  </mat-grid-tile>
</mat-grid-list>