<mat-toolbar class="toolbar">
  <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<mat-menu #menu="matMenu">
  <button mat-menu-item [routerLink]="['/']">Início</button>
  <button mat-menu-item>Sair</button>
</mat-menu>
<div class="example-container mat-elevation-z2">
  <table mat-table [dataSource]="dataSource">

    <!-- Position Column -->


    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef> Ir/Voltar </th>
      <td mat-cell *matCellDef="let element"> 
        <img src="../../../assets/{{element.weight}}.png" width="30px">
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<mat-card class="opcoesLista">
  <button mat-raised-button class="entrarNaLista">Entrar na lista</button>
  <button mat-raised-button class="editarSituacaoLista">Editar situação</button>
  <button mat-raised-button class="sairDaLista">Sair da lista</button>
  
</mat-card>