.example-container {
    height: 70%;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }
.cancelar{
    padding: 2px;
    width: 100%;
    background-color: #dc3545;
    border-radius: 20px;
    text-align: center;
}
.entrarNaLista{
    width: 100%;
    background-color: #28a745;
    color: #fff;
}
.sairDaLista{
    margin-top: 5px;
    width: 100%;
    background-color: #dc3545;
    color: #fff;
}
.editarSituacaoLista{
    margin-top: 5px;
    width: 100%;
    background-color: #17a2b8;
    color: #fff;
}
.opcoesLista{
    display: block;
    justify-content: center;
    align-items: center;
}