<mat-toolbar>
  <mat-toolbar-row>
  <span>Lista Bus UNILAB</span>
</mat-toolbar-row>
</mat-toolbar>
<h2 class="main-div-title">Entrar</h2>
<div class="main-div">
<mat-card class="example-card">
  <mat-card-content>
    <form class="example-form">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
            <input matInput placeholder="Usuario" >
            </mat-form-field>
          </td>
        </tr>
        <tr>
        <td><mat-form-field class="example-full-width">
          <input matInput placeholder="Senha" type="password" name="password" required>
        </mat-form-field></td>
      </tr></table>
    </form>
  </mat-card-content>
  <mat-card-actions class="buttonsCard">
    <button mat-raised-button class="buttonEntrar" color="primary">Entrar</button>
  </mat-card-actions>
</mat-card>
</div>